<% provide(:title, 'Welcome') %>
<% if logged_in? %>
<section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Work</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="http://localhost:3000/pets">

                                    <img class="img-portfolio img-responsive" src="assets/breeder.jpg">
                                </a>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="http://localhost:3000/products">
                                    <img class="img-portfolio img-responsive" src="assets/sale.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="http://localhost:3000/microposts">
                                    <img class="img-portfolio img-responsive" src="assets/micropost.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="users#index">
                                    <img class="img-portfolio img-responsive" src="assets/user.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
  
<% else %>
   
      <body>
       
      <header id="top" class="header">
        
        <div class="text-vertical-center">
             <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <h1>Start Dog World!</h1>
            <h3>Breeders &amp; Sales</h3>
            <br>
            <h2><%= link_to "Sign up now!", signup_path, class: "btn btn-dark btn-lg" %></h2>
            
             <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
           
        </div>
      
    </header>
   
 </body>
      

   
   
<% end %>