<% provide(:title, 'All breeders') %>
<h1>All breeders  <a href="http://localhost:3000/pets/new" class="btn btn-dark btn-lg">
  Add Breeder  </a>  <a href="http://localhost:3000/searches/new" class="btn btn-dark btn-lg">
  Search  </a>  </h1>



<% @pet.each_slice(4) do |pets| %>
  <div class="row">
    <% pets.each do |pet| %>
      <div class="col-md-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to pet do %>
              <%= image_tag pet.image.url(:thumb) %>
            <% end %>
          </div>
          <h2>
            <%= link_to pet.nickname, pet %>
          </h2>
          <h2>Owner: <%= link_to pet.user_email, pet.user %> </h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

