<% provide(:title, 'All products') %>
<h1>All sales  <a href="http://localhost:3000/products/new" class="btn btn-dark btn-lg">
  Add Breeder  </a>  </h1>
<% @product.each_slice(3) do |products| %>
  <div class="row">
    <% products.each do |product| %>
      <div class="col-md-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to product do %>
              <%= image_tag product.image.url(:medium) %>
            <% end %>
          </div>
          <h2>
            <%= link_to product.breeds, product %>
          </h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
